<!--welcome---->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/Images/diet1.jpg " width="400px" class="offer-img">

            </div>
            <div class="col-2">
                <p>Exclusively available on FitAdVentures</p>
                <h1>One must eat to live, not live to eat</h1>
                <small>
                    <p>Have a healthy body with a healthy diet and workout</p>
                </small>
                <a href="" class="btn" routerLink="/bmi">Calculate BMI Index &#8594;</a>
            </div>
        </div>
    </div>
</div>



<div class="w3-padding-16 w3-container">
    <div class="w3-content">
        

        <div class="row">
            <div class="column" style="background-color:#4CAF50;">
                <h2>Underweight</h2>
                <div class="col-5">
                    <img src="../../assets/Images/diet17.jpg " >

                </div>
                <div>
                    <h3>Monday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup banana shake</li>
                        <li>2 egg brown bread sandwich + green chutney + 1 cup milk</li>
                        <li>1 cup arhar dal + 1 cup potato curry + 3 chapatti + 1/2 cup rice </li>
                        <li>1 cup strawberry smoothie + 1 cup vegetable poha</li>
                        <li>1.5 cup chicken curry + 3 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet18.jpg "  >

                </div>

                <div>
                    <h3>Tuesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup mango shake</li>
                        <li>1 cup moong dal/ chicken curry + 1 cup potato and caulifllower vegetable </li>
                        <li>1 cup pomegranate juice + 2 butter toasted bread </li>
                        <li>1 cup strawberry smoothie + 1 cup vegetable poha</li>
                        <li>1 cup beans potato vegetable + 3 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet19.jpg " >

                </div>

                <div>
                    <h3>Wednesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1.5 cup vegetable bread upma + 1 cup milk + 3 cashews </li>
                        <li>1 cup ripe banana with 2 tsp ghee </li>
                        <li>1 cup vegetable juice + 1 cup upma</li>
                        <li>1.5 cup parwal vegetable + 3 chapatti + salad</li>
                        <li>1 apple smoothie with maple syrup</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet20.jpg " >

                </div>

                <div>
                    <h3>Thursday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup buttermilk + 1 cup sweet potato chaat </li>
                        <li>1 cup white chana/ fish curry + 3 chapatti </li>
                        <li>1 cup cauliflower potato vegetable + 3 chapatti </li>
                        <li>2 cucmber potato sandwich + 1 tsp green chutney + 1 orange juice</li>
                        <li>1 cup almond milk + banana</li>

                    </ul>

                </div>


                <div class="col-5">
                    <img src="../../assets/Images/diet21.jpg " >

                </div>

                <div>
                    <h3>Friday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1.5 cup vegetable bread upma + 1 cup milk + 3 cashews </li>
                        <li>1 cup ripe banana with 2 tsp ghee </li>
                        <li>1 cup vegetable juice + 1 cup upma</li>
                        <li>1.5 cup parwal vegetable + 3 chapatti + salad</li>
                        <li>1 apple smoothie with maple syrup</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet22.jpg " >

                </div>

                <div>
                    <h3>Saturday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1.5 cup vegetable bread upma + 1 cup milk + 3 cashews </li>
                        <li>1 cup ripe banana with 2 tsp ghee </li>
                        <li>1 cup vegetable juice + 1 cup upma</li>
                        <li>1.5 cup parwal vegetable + 3 chapatti + salad</li>
                        <li>1 apple smoothie with maple syrup</li>

                    </ul>
                </div>


                <div class="col-5">
                    <img src="../../assets/Images/diet23.jpg " >

                </div>

                <div>
                    <h3>Sunday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup coconut water + 1 cup pomegrate</li>
                        <li>1 cup mix dal + 1 cup soybean curry + 3 chapatti + 1/2 cup curd + salad </li>
                        <li>1 cup karela vegetable + 3 chaptti + salad </li>
                        <li>3 vegetable suji cheela + 1 cup strawberry shake</li>
                        <li>1 cup sprouts salad + 2 potato cheela + green chutney</li>

                    </ul>
                </div>

            </div>

            <div class="column" style="background-color:#ff9800;">
                <h2>Overweight</h2>
                <div class="col-5">
                    <img src="../../assets/Images/diet10.jpg " >

                </div>

                <div>
                    <h3>Monday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup coconut water </li>
                        <li>1 cup fruit salad</li>
                        <li>1 cup low fat milk with oats + 3-4 strawberries</li>
                        <li>1 cup fruit salad</li>
                        <li>1 cup ghia vegetable + 1 chaptti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet11.jpg " >

                </div>
                <div>
                    <h3>Tuesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup watermelon </li>
                        <li>1 cup sprouts salad</li>
                        <li>1 cup chana dal + 1 chapatti + salad</li>
                        <li>1 cup vegetable poha + 1 cup low fat curd</li>
                        <li>1 cup tinda vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet12.jpg " >

                </div>
                <div>
                    <h3>Wednesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cucmber hungcurd sandwich + 1/2 tsp green chutney </li>
                        <li>1 cup buttermilk</li>
                        <li>1 cup white chana/ fish curry + 1 chapatti + salad</li>
                        <li>1 cup low fat milk (no sugar)</li>
                        <li>1 cup cauliflower vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet13.jpg " >

                </div>
                <div>
                    <h3>Thursday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup vegetable brown bread upma + 1/2 cup low fat milk (no sugar)</li>
                        <li>1 cup musk melon</li>
                        <li>1 cup rajma curry + 1 chapatti + salad</li>
                        <li>1 cup vegetable soup</li>
                        <li>1 cup parwal vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet14.jpg " >

                </div>
                <div>
                    <h3>Friday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 onion stuffed chapatti + 1/2 cup low fat curd</li>
                        <li>1 cup coconut water</li>
                        <li>1 cup moong dal/ chicken curry + 1 chapatti + salad</li>
                        <li>1 cup pomegranate</li>
                        <li>1 cup beans + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet15.jpg " >

                </div>
                <div>
                    <h3>Saturday</h3>
                    <ul style="line-height: 1.2;">

                        <li>3 egg whites + 1 toasted brown bread + 1/2 cup low fat milk </li>
                        <li>1 cup papaya</li>
                        <li>1 cup arhar dal + 1 chapatti + 1/2 cup low fat curd + salad</li>
                        <li>1 cup vegetable soup</li>
                        <li>1 cup pumpkin + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet16.jpg " >

                </div>
                <div>
                    <h3>Sunday</h3>
                    <ul style="line-height: 1.2;">

                        <li>2 besan cheela + 1/2 cup low fat curd</li>
                        <li>1 apple</li>
                        <li>1 cup masoor dal + 1 chapatti + 1/2 up low fat curd + salad</li>
                        <li>1 cup tomato soup</li>
                        <li>1 cup carrot peas vegetable +1 chapatti + salad</li>

                    </ul>
                </div>


            </div>

            <div class="column" style="background-color:#2196F3;">
                <h2>Obesity</h2>
                <div class="col-5">
                    <img src="../../assets/Images/diet3.jpg " >

                </div>
                <div>
                    <h3>Monday</h3>
                    <ul style="line-height: 1.2;">

                        <li>3 egg whites + 1 toasted brown bread + 1/2 cup low fat milk (no sugar)</li>
                        <li>1 cup papaya</li>
                        <li>1 cup arhar dal + 1 chapatti + 1/2 cup low fat curd + salad</li>
                        <li>1 cup vegetable soup</li>
                        <li>1 cup pumpkin + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet4.jpg ">

                </div>
                <div>
                    <h3>Tuesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 onion stuffed chapatti + 1/2 cup low fat curd</li>
                        <li>1 cup coconut water</li>
                        <li>1 cup moong dal/ chicken curry + 1 chapatti + salad</li>
                        <li>1 cup pomegranate/li>
                        <li>1 cup beans + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet5.jpg " >

                </div>
                <div>
                    <h3>Wednesday</h3>
                    <ul style="line-height: 1.2;">

                        <li>2 besan cheela + 1/2 cup low fat curd</li>
                        <li>1 apple</li>
                        <li>1 cup masoor dal + 1 chapatti + 1/2 up low fat curd + salad</li>
                        <li>1 cup tomato soup/li>
                        <li>1 cup carrot peas vegetable +1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet6.jpg " >

                </div>
                <div>
                    <h3>Thursday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup vegetable brown bread upma + 1/2 cup low fat milk (no sugar)</li>
                        <li>1 cup musk melon</li>
                        <li>1 cup rajma curry + 1 chapatti + salad</li>
                        <li>1 cup vegetable soup</li>
                        <li>1 cup parwal vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet7.jpg " >

                </div>
                <div>
                    <h3>Friday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cucmber hungcurd sandwich + 1/2 tsp green chutney </li>
                        <li>1 cup buttermilk</li>
                        <li>1 cup white chana/ fish curry + 1 chapatti + salad</li>
                        <li>1 cup low fat milk (no sugar)</li>
                        <li>1 cup cauliflower vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/diet8.jpg ">

                </div>
                <div>
                    <h3>Saturday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup vegetable poha + 1 cup low fat curd </li>
                        <li>1 cup watermelon</li>
                        <li>1 cup chana dal + 1 chapatti + salad</li>
                        <li>1 cup sprouts salad</li>
                        <li>1 cup tinda vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>


                <div class="col-5">
                    <img src="../../assets/Images/diet9.jpg " >

                </div>
                <div>
                    <h3>Sunday</h3>
                    <ul style="line-height: 1.2;">

                        <li>1 cup vegetable brown bread upma + 1/2 cup low fat milk (no sugar)</li>
                        <li>1 cup musk melon</li>
                        <li>1 cup rajma curry + 1 chapatti + salad</li>
                        <li>1 cup vegetable soup</li>
                        <li>1 cup parwal vegetable + 1 chapatti + salad</li>

                    </ul>
                </div>
            </div>
        </div>
       

    </div>
</div>

<br><br><br>