<br><br><br><br>
<div class="join-container">
    <header class="join-header">
        <h1><i class="fas fa-smile"></i> Fit Mates</h1>
    </header>
    <main class="join-main">
        <form action="chattwo.component.html">
            <div class="form-control">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username..."
                    formControlName="displayName" required />

            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="workout">Workout</option>
                    <option value="dietplan">Diet Plan</option>
                   
                </select>
            </div>
            <button type="submit" class="btn" routerLink="/chattwo">Join Chat</button>
        </form>
    </main>
</div>