<!--welcome---->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/Images/gym2.jpg " width="400px" class="offer-img">

            </div>
            <div class="col-2">
                <p>Exclusively available on FitAdVentures</p>
                <h1>Build your own healthy body</h1>
                <small>
                    <p>Have a healthy body with a healthy diet and workout</p>
                </small>
                <a href="" class="btn"> Calculate BMI Index &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!---<div>
      <header class="w3-display-container w3-content" style="line-height: 1; max-width:1500px;" id="home">
        <img style="border-radius: 0px; box-shadow: 0 0 0 0;" class="w3-image" src="../../assets/Images/diet2.jpg" alt="Food table" width="1500" height="800">
        <div style="background-color: rgba(255,255,255, 0.8);" class="w3-display-middle w3-center">
          <h1 style="font-size:4vw;"><b>Dietary habits</b></h1>
          <p><button class="w3-btn w3-blue" routerLink="/register">Sign up</button></p>
        </div>
      </header>
    </div>--->

<div class="w3-padding-16 w3-container">
    <div class="w3-content">
        <!--<h2>Track what you eat</h2>
        <h5>
          The <b>Dietary habits app</b> allows you to input all of the food you ate (or are going to eat) and show you the
          nutritional gain from it, in detail.
          Our database has 8000+ foods and it is constantly growing thanks to user inputs. Every food is broken down into 3
          segments:
        </h5>-->

        <div class="row">
            <div class="column" style="background-color:#4CAF50;">
                <h2>Underweight</h2>
                <div class="col-5">
                    <img src="../../assets/Images/pushup.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Pushups</h3>
                    <ul style="line-height: 1.2;">

                        <li>Lie face down on the ground.</li>
                        <li>Put your hands on the ground, palms flat, with your arms out at your sides and your hands
                            shoulder-width apart.</li>
                        <li>Slowly push your body up until your arms are fully extended </li>
                        <li>Slowly lower yourself back down until your nose nearly touches the floor.</li>
                        <li>Repeat as many times as you feel comfortable.</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/pullup.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Pullups</h3>
                    <ul style="line-height: 1.2;">

                        <li>Grip the pullup bar with both hands. Your palms should face away from you</li>
                        <li>Pull yourself up enough to hang off the bar so that your feet aren’t touching the ground and
                            your arms are straight.</li>
                        <li>Continue to pull yourself up until your chin is above the bar. </li>
                        <li>Slowly lower yourself down so that your arms are straight again.</li>
                        <li>Repeat as many times as you want.</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/squat.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Squats</h3>
                    <ul style="line-height: 1.2;">

                        <li>Stand up straight so that your feet are hips-width distance apart. </li>
                        <li>Put your hands on your hips and flex your abdominal muscles.</li>
                        <li>Begin lowering yourself down using only your legs, as if you’re about to sit down</li>
                        <li>Raise yourself back up to your original position.</li>
                        <li>Repeat as many times as you want.
                        </li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/lunges.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Lunges</h3>
                    <ul style="line-height: 1.2;">

                        <li>Stand up straight, flexing your abdominal muscles. </li>
                        <li>Extend one leg like you are taking a step, then lean forward like you are kneeling </li>
                        <li>Push back on your heel to lift yourself back up to your initial position. </li>
                        <li>Repeat as many times as you feel comfortable on one leg.</li>
                        <li>Repeat for the other leg.</li>

                    </ul>

                </div>


                <div class="col-5">
                    <img src="../../assets/Images/benchpress.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Bench Press</h3>
                    <ul style="line-height: 1.2;">

                        <li>Lie on your back on the bench </li>
                        <li>If there is a rack, grab the bar with both hands, including your thumbs. </li>
                        <li>Extend your arms to take the bar out of the rack.</li>
                        <li>Slowly lower your arms to bring the bar down to your chest.</li>
                        <li>Repeat steps 4 and 5 as many times as you feel comfortable.</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/overheadpress.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Overhead Press</h3>
                    <ul style="line-height: 1.2;">

                        <li>Grip the bar with your hands about shoulder-width apart. </li>
                        <li>Lift the bar up to just above the front of your chest, even with your shoulders.</li>
                        <li>Slowly lift the bar above you until your arms are straight.</li>
                        <li>Slowly lower the bar back to shoulder height.</li>
                        <li>Repeat steps 3 and 4 as many times as comfortable.</li>

                    </ul>
                </div>



            </div>

            <div class="column" style="background-color:#ff9800;">
                <h2>Overweight</h2>
                <div class="col-5">
                    <img src="../../assets/Images/walking.jpg " width="600px" class="diet-img">

                </div>

                <div>
                    <h3>Walking</h3>
                    <ul style="line-height: 1.2;">

                        <li>walking with 2 ski poles in hand </li>
                        <li>walking 1 mile can burn approximately 100 calories.</li>
                        <li>Even walking slowly may be able to help you get your heart rate up</li>
                        <li>started with if you're ready to start walking more often.</li>
                        <li>While you may think you need to jog or run to experience the benefits of this type of cardio
                        </li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/modifiedpushup.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Modified Push-Ups</h3>
                    <ul style="line-height: 1.2;">

                        <li>you can modify the exercise to make it easier </li>
                        <li>There are several ways you can do this if a standard push-up is too difficult.</li>
                        <li>Performing push-ups will work your entire body and will strengthen your core.</li>
                        <li>Performing push-ups may also reduce the risk of cardiovascular disease.</li>
                        <li>you can also try doing push-ups on the ground but with your knees down</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/stationarybike.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Riding a starionary bike</h3>
                    <ul style="line-height: 1.2;">

                        <li>iding a stationary bike is a great exercise you can use to improve your body </li>
                        <li>Stationary bikes can come with backrests, providing additional support </li>
                        <li>person weighing 185 pounds will burn 311 calories during 30 minutes </li>
                        <li>will burn 466 calories during vigorous riding</li>
                        <li>providing additional support and a more comfortable experience.</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/sideleglift.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Side leg lifts</h3>
                    <ul style="line-height: 1.2;">

                        <li>Leg lifts are a great exercise for working out your lower body</li>
                        <li>Side leg lifts, or side-lying hip abduction exercises</li>
                        <li>Side leg lifts can be extremely beneficial for your lower body </li>
                        <li> leg lifts you'll need to lay on your side</li>
                        <li>Then repeat the exercise for the opposite side of the body.</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/bridge.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Bridges</h3>
                    <ul style="line-height: 1.2;">

                        <li>Performing bridges will strengthen your core</li>
                        <li> you'll need to get down on the floo</li>
                        <li>If done regularly, doing glute bridges can have a great effect</li>
                        <li>Because bridges can be done while lying down</li>
                        <li>Performing a glute bridge exercise can also be a good exercise</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/kneelift.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Knee lifts with ball</h3>
                    <ul style="line-height: 1.2;">

                        <li>you'll need to have a small weight of some kind that you can hold in your hands </li>
                        <li>regular ball usually works great for this exercise</li>
                        <li>When performing knee lifts, you'll start by holding the ball above your head.</li>
                        <li>This exercise will do a great job of working out your core and can be a good</li>
                        <li>reducing pain, building strength, and losing weight</li>

                    </ul>
                </div>




            </div>

            <div class="column" style="background-color:#2196F3;">
                <h2>Obesity</h2>
                <div class="col-5">
                    <img src="../../assets/Images/walking.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Walking</h3>
                    <ul style="line-height: 1.2;">

                        <li>This seems like an obvious choice, but there is a reason that</li>
                        <li>best exercise for almost everyone</li>
                        <li>requires very little equipment and it can be done almost everywhere</li>
                        <li>Walking is low impact</li>
                        <li>improves strength and mobility in the lower body</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/aquajogging.jpg" width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Aqua Jogging</h3>
                    <ul style="line-height: 1.2;">

                        <li>Water activities are particularly well suited for people </li>
                        <li>lap swimming can be intense and water aerobics classes are not always available</li>
                        <li>A good alternative is aqua jogging</li>
                        <li>Aqua jogging is simply running in the water with the help of a buoyancy belt</li>
                        <li> You may be able to find a buoyancy belt at the pool </li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/gropexercise.jpg " width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Group Exercise Classes</h3>
                    <ul style="line-height: 1.2;">

                        <li>One of the best ways to stick to an exercise program </li>
                        <li>Group exercise classes are a perfect place to find friends</li>
                        <li>you'll want to be sure you find a class that meets your needs.</li>
                        <li>Observe whether the pace of the class seems right for you</li>
                        <li>watch how the instructor cues the choreography</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/strengthtraining.jpg" width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Strength Training</h3>
                    <ul style="line-height: 1.2;">

                        <li>There are many good reasons to start a strength training program.</li>
                        <li>Strength training can increase the range of motion in all of your joints.</li>
                        <li>When you build muscle, you boost your metabolism</li>
                        <li>but this is one instance where joining a gym or hiring a trainer</li>
                        <li>learn simple exercises and technique cues that will help keep your form</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/cardio.jpg" width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Cardio Machines</h3>
                    <ul style="line-height: 1.2;">

                        <li>Some cardio machines can be a good option for a new exercise routine. </li>
                        <li>Biking is a great way to burn calories with less impact on your joints</li>
                        <li>recumbent bike is a smart choice if you have back pain, joint problems</li>
                        <li>There are also recumbent cross trainers on the marke</li>
                        <li>If you don't have the space or the budget for a bike or a cross trainer</li>

                    </ul>
                </div>

                <div class="col-5">
                    <img src="../../assets/Images/mindbody.jpg" width="600px" class="diet-img">

                </div>
                <div>
                    <h3>Mind-body Exercise</h3>
                    <ul style="line-height: 1.2;">

                        <li>become more accessible to the general public</li>
                        <li>Yoga, moving meditation, and Qigong classes are all excellent</li>
                        <li>uses a series of flowing movements to increase the range of motion</li>
                        <li>incorporate some (usually standing) balance postures</li>
                        <li>Tai Chi also incorporates meditational elements that help to decrease stress</li>

                    </ul>
                </div>



            </div>
        </div>
        <!-----
        <h2>Easily search and add consumed food</h2>
        <h5>
          Multiword search that makes finding specific foods easy and quick. The consumed food can be added for any date, which can be selected at the top of the modal dialog.
        </h5>
        <div class="w3-center">
          <img srcset="../../assets/Images/diet2.jpg 270w,
          ../../assets/Images/diet2.jpg 800w" sizes="(max-width: 80px) 27px,
                          80px" src="../../assets/Images/diet2.jpg" alt="Adding food">
        </div>
        <h5 class="image-caption">Adding eaten food quantity</h5>
      </div>
    </div>
    
    <div class="w3-light-grey w3-padding-16 w3-container">
      <div class="w3-content">
        <h2>Custom DRI</h2>
        <h5>The app allows you to adjust the Dietary Reference Intake (DRI)
          based on your preferences.
          You can set the minimal DRI you want to accomplish in any of the aforementioned nutritions as well as the maximum
          or Upper Intake (UI) values.
          Also, you can create multiple DRI presets and easily switch between them.</h5>
        <div class="w3-center">
          <img srcset="../../assets/Images/diet2.jpg 228w,
          ../../assets/Images/diet2.jpg 800w" sizes="(max-width: 80px) 28px,
                          80px" src="../../assets/Images/diet2.jpg" alt="Using custom DRIs">
        </div>
        <h5 class="image-caption">Using custom DRIs</h5>
      </div>
    </div>
    
    <div class="w3-padding-16 w3-container">
      <div class="w3-content">
        <h2>Analytics</h2>
        <h5>The analytics section shows you in a graphic way how you are
          doing in regards to all of the
          nutrition values. This is based on the set DRI value and shows daily intakes as well as per certain nutrition
          from foods.</h5>
    
        <div class="w3-center">
          <img srcset="../../assets/Images/diet2.jpg 296w,
          ../../assets/Images/diet2.jpg 800w" sizes="(max-width: 80px) 29px,
                        80px" src="../../assets/Images/diet2.jpg" alt="Getting the stats">
        </div>
    
        <h5 class="image-caption">Getting the stats</h5>
    
        <div style="background-color: lightgray; border-radius: 5px;;" class="w3-padding w3-center">
          <h3>If you haven't already, sign up</h3>
          <p><button class="w3-btn w3-blue" routerLink="/register">Sign up</button></p>
        </div>-->

    </div>
</div>