<!--Top---->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/Images/gym2.jpg " width="400px" class="offer-img">

            </div>
            <div class="col-2">
                <p>Exclusively available on FitAdVentures</p>
                <h1>Build your own healthy body</h1>
                <small>
                    <p>Have a healthy body with a healthy diet and workout</p>
                </small>
                <a href="" class="btn" routerLink="/bmi">Get started &#8594;</a>
            </div>
        </div>
    </div>
</div>



<!----workout----->
<div class="categories">
    <h2 class="title">Workout</h2>

    <div class="row">

        <div class="col-4">
            <img src="../../assets/Images/gym1.jpg">
            <h4><a href="frocks.html"></a></h4>
        </div>

        <div class="col-4">

            <p class="align">The genealogy of lifting can be traced back to the beginning of recorded history[3]
                where humanity's fascination with physical abilities can be found among numerous ancient writings.
                In many prehistoric tribes, they would have a big rock they would try to lift, and the first one to
                lift it would inscribe their name into the stone.Ancient Greek sculptures also depict lifting feats.
                The weights were generally stones, but later gave way to dumbbells. The dumbbell was joined by the
                barbell in the later half of the 19th century.Another early device was the Indian club, which came
                from ancient India, where it was called the "mugdar" or ''gada''. </p>
        </div>

    </div>
</div>


<!----Diet----->
<div class="categories">
    <h2 class="title">Healthy Diet</h2>

    <div class="row">
        <div class="col-4">
            <img src="../../assets/Images/diet2.jpg">
            <h4><a href="frocks.html"></a></h4>
        </div>

        <div class="col-4">

            <p class="align">Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all
                its forms as well as a range of noncommunicable
                diseases (NCDs) and conditions. However, increased production of processed foods, rapid urbanization and
                changing lifestyles have led to a
                shift in dietary patterns. People are now consuming more foods high in energy,fats, free sugars and
                salt/sodium, and many people do not eat enough
                fruit, vegetables and other dietary fibre such as whole grains.People are often unaware of the amount of
                salt they consume. In many countries, most
                salt comes from processed foods.
            </p>
        </div>



    </div>
</div>





<!--offer---->
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/Images/yoga.jpg " width="400px" class="offer-img">

            </div>
            <div class="col-2">
                <p>Exclusively available on FitAdVentures</p>
                <h1>Build your own healthy body</h1>
                <small>
                    <p>Have a healthy body with a healthy diet and workoutck</p>
                </small>
                <a href="" class="btn" routerLink="/bmi">Get started &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!---testimonial---->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Thankyou for the good sales support and being part of the effort to make the world more humane &
                    sustainable </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="../../assets/Images/testi1.jpg">
                <h3>Kiyara Watson</h3>
                <h3></h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Thankyou so much for all the effort I really appreciate the service you have given good luch for your
                    future. </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="../../assets/Images/testi2.jpg">
                <h3>James Alan</h3>
                <h3></h3>
            </div>

            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Thankyou for the best ever customer service and I hope this will help people to keep their body
                    healthy. </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <img src="../../assets/Images/testi3.jpg">
                <h3>Emily Cooper</h3>
                <h3></h3>
            </div>
        </div>
    </div>
</div>


<!---brands----
<div class="brands">
    <div class="small-container">
    <div class="row">
    
    <div class="col-5">
    <img src="../../assets/Images/gym1.jpg">
    </div>
    
    <div class="col-5">
    <img src="../../assets/Images/gym1.jpg" >
    </div>
    
    <div class="col-5">
    <img src="../../assets/Images/gym1.jpg">
    </div>

    <div class="col-5">
        <img src="../../assets/Images/gym1.jpg">
    </div>

   
    
    </div>
    </div>
    </div>-->

<!----Footer--

<div class="footer"  style="background-color: black;">
    <div class="container">
    <div class="row">
        <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone</p>
            <div class="app-logo">
                <img src="../images/apple.png">
                <img src="../images/android.jpg">
            </div>
            </div>
    
       <div class="footer-col-2">
           <img src="../images/mylogo.jpeg" width="150px">
           <p>Our purpose is to sustainably make the pleasure and benefits of sports accessible to the many</p>
           </div>
    
         <div class="footer-col-3">
            <h3>Useful Links</h3>
            
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Join Affiliate</li>
            </ul>
          </div>
    
         <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instragram</li>
                <li>You Tube</li>
            </ul>
          </div>
    </div>
    <hr>
    <p class ="copyright">Copyright 2023 - Fit AdVentures</p>
    </div>
    </div>-->