<!----Footer-->
<div class="footer" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="../images/apple.png">
                    <img src="../images/android.jpg">
                </div>
            </div>

            <div class="footer-col-2">
                <img src="../images/mylogo.jpeg" width="150px">
                <p>Our purpose is to sustainably make the pleasure and benefits of sports accessible to the many</p>
            </div>

            <div class="footer-col-3">
                <h3>Useful Links</h3>

                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>

            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instragram</li>
                    <li>You Tube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2023 - Fit AdVentures</p>
    </div>
</div>