<header>
  <div class="head">
    <nav class="navbar fixed-top ">
      <table>
        <tr>
          <td>
            <img src="../../assets/Images/logo.png" alt="" width="60" height="60" class="logoheader" >
          </td>
          <td>
            <h1 class="fitadventures">Fit AdVentures</h1>

          </td>

          <td>
            <li class="Dropdown-1"><a href="" routerLink="/welcome">Home</a>
              <ul class="DropdownSet-1">

              </ul>
            </li>
          </td>
          <td>

            <li class="Dropdown-1"><a href="">Services</a>
              <ul class="DropdownSet-2">
                <li><a href="" routerLink="/workout">Workout</a></li>
                <li><a href="" routerLink="/dietplan">Diet Plan</a></li>
                <li><a href="" routerLink="/bmi">BMI Calculator</a></li>
                <li><a href="" routerLink="/task">Task Manage</a></li>

              </ul>
            </li>
          </td>
          <td>
            <li class="Dropdown-1"><a href="" routerLink="/about">About Us</a>
              <ul class="DropdownSet-3">

              </ul>
            </li>
          </td>
          <td>
            <li class="Dropdown-1"><a href="" routerLink="/contact">Contact Us</a>
              <ul class="DropdownSet-4">


              </ul>
            </li>
          </td>
          <td>
            <li class="Dropdown-1"><a href="" routerLink="/register">Register</a>
              <ul class="DropdownSet-5">

              </ul>
            </li>
          </td>
          <td>
            <li class="Dropdown-1"><a href="" routerLink="login">Log in</a>
              <ul class="DropdownSet-6">

              </ul>
            </li>
          </td>


        </tr>
      </table>
    </nav>
  </div>
</header>


