<div class="categories">

    <div class="row">

        <div class="col-4">
            <img src="../../assets/Images/about.jpg">

        </div>

        <div class="col-4">
            <h2>About Us</h2>

            <p class="align">We are providing the service to maintain a healthy body with
                categoriezed diet paln and workout plan according to the person's BMI index. Other than
                that she or he can manage their tasks by adding tasks, edit tasks, delete tasks.Workout is
                a practice or exercise to test or improve one's fitness for athletic competition, ability,
                or performance. Diet is n nutrition, diet is the sum of food consumed by a person or other organism.</p>
        </div>

    </div>
</div>





<!--<div class="container">
  <div class="about">
      <div class="text">
          <h1>About Us</h1>
          <div class="line"></div>
      </div>
  </div>

  <div class="content">
      <p>
       A website about workout and diet plan you can enjoy as you want
   
      </p><br><br>
   
       </div>

       <h2 class="title2">Healthy Diet</h2>
       <p class="align">Consuming a healthy diet throughout the life-course helps to prevent malnutrition in all its forms as well as a range of noncommunicable 
           diseases (NCDs) and conditions. However, increased production of processed foods, rapid urbanization and changing lifestyles have led to a 
           shift in dietary patterns. People are now consuming more foods high in energy,fats, free sugars and salt/sodium, and many people do not eat enough 
           fruit, vegetables and other dietary fibre such as whole grains.People are often unaware of the amount of salt they consume. In many countries, most 
           salt  comes from processed foods.
           </p>

           <h2 class="title2">Workout</h2>
           <p class="align">The genealogy of lifting can be traced back to the beginning of recorded history[3] 
              where humanity's fascination with physical abilities can be found among numerous ancient writings. 
              In many prehistoric tribes, they would have a big rock they would try to lift, and the first one to
               lift it would inscribe their name into the stone.Ancient Greek sculptures also depict lifting feats. 
               The weights were generally stones, but later gave way to dumbbells. The dumbbell was joined by the
                barbell in the later half of the 19th century.Another early device was the Indian club, which came 
                from ancient India, where it was called the "mugdar" or ''gada''.
               </p><br><br>
              </div>

               --Footer--
<div class="footer"  style="background-color: black;">
  <div class="container">
  <div class="row">
      <div class="footer-col-1">
          <h3>Download Our App</h3>
          <p>Download App for Android and ios mobile phone</p>
          <div class="app-logo">
              <img src="../images/apple.png">
              <img src="../images/android.jpg">
          </div>
          </div>
  
     <div class="footer-col-2">
         <img src="../images/mylogo.jpeg" width="150px">
         <p>Our purpose is to sustainably make the pleasure and benefits of sports accessible to the many</p>
         </div>
  
       <div class="footer-col-3">
          <h3>Useful Links</h3>
          
          <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
          </ul>
        </div>
  
       <div class="footer-col-4">
          <h3>Follow Us</h3>
          <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instragram</li>
              <li>You Tube</li>
          </ul>
        </div>
  </div>
  <hr>
  <p class ="copyright">Copyright 2023 - Fit AdVentures</p>
  </div>
  </div>-->












<!----
  <div class="wrapper">
      
      <img class="img-noimage" src="../../assets/Images/diet2.jpg" alt="my image">
      <h3>Amasha Gunathilaka</h3>
      <h3>member</h3>
  </div>

  <div class="wrapper">
      
      <img class="img-noimage" src="../../assets/Images/diet2.jpg" alt="my image">
      <h3>Poojani Ranasinghe</h3>
      <h3>member</h3>
  </div>

  <div class="wrapper">
      
      <img class="img-noimage" src="../../assets/Images/diet2.jpg" alt="my image">
      <h3>Sanali Pasanka</h3>
      <h3>member</h3>
  </div>

  <div class="wrapper">
      
      <img class="img-noimage" src="../../assets/Images/diet2.jpg" alt="my image">
      <h3>Yasara Dharmawardhana</h3>
      <h3>member</h3>
  </div>

  <div class="content">
 <p>
  glthjtjsrjtibhtnihyinjdjhknbkhjothjyosujfjkjgrhliygtyiopetiodvkhlv hjhjrdhjxslgjeohglcgfghghsghlgdofihjoti

 </p>

  </div>-->