<!--<br><br><br><br><br>--->

<div class="container2 ">
    <div class="container" >
        <h1>Connect With Us</h1>
        <h5><p>We would love to repsond to your queries and help you. <br>Feel free to get in touch with us.</p></h5>
        <div class="contact-box">
            <div class="contact-left">
                <h2>Send your request</h2><br>
                <form>
                    <div class="input-row">
                        <div class="input-group">
                            <h5>Name</h5>
                            <input type="text" placeholder="Poojani Ranasinghe">
    
                        </div>
                        <div class="input-group">
                            <h5>Phone</h5>
                            <input type="text" placeholder="+94 775191968">
    
                        </div>
                        </div>
    
                        <div class="input-row">
                            <div class="input-group">
                                <h5>E-mail</h5>
                                <input type="text" placeholder="poojani2000@gmail.com">
        
                            </div>
                            <div class="input-group">
                                <h5>Subject</h5>
                                <input type="text" placeholder="Description">
        
                            </div>
    
                    </div>
                    <h5>Message</h5>
                    <textarea name="" id="message" rows="5" placeholder="Your Message"></textarea>

                    <div class="text-center mt-2">
                        <button class="btn "  >Send</button>
                    </div>
                    
                </form>
    
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>fitadventures@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+94 755425394</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>No.816/56, The Legend, Mudalindu Place, <br>Nittambuwa.</td>
                    </tr>
                </table>
    
            </div>
    
    
        </div>
    
        </div>
    
    
</div>


















<!---<div class="container">
    <header>
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam totam iure vitae nesciunt quaerat sed, et ullam
            placeat ut? Impedit dolorem nostrum itaque molestias nemo delectus animi fuga illum magnam earum pariatur
            reiciendis, explicabo id velit facilis, necessitatibus cum! Magnam.</p>
    </header>
    <div class="content">
        <div class="content-form">
            <section>
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                <h2>address</h2>
                <p>
                    Lorem ipsum dolor sit. <br>
                    Lorem, ipsum dolor. <br>
                    lorem
                </p>
            </section>

            <section>
                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                <h2>Phone</h2>
                <p>123-456-78901548</p>
            </section>

            <section>
                <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                <h2>E-mail</h2>
                <p>dghdgqd@temporary.net</p>
            </section>
        </div>
    </div>

    <form>
        <div class="form">
            <div class="right">
                <div class="contact-form">
                    <input type="text" required>
                    <span>Full Name</span>
                </div>

                <div class="contact-form">
                    <input type="E-mail" required>
                    <span>E-mail Id</span>
                </div>
                <div class="contact-form">
                    <textarea name="text">

              </textarea>
                    <span> Type your Message....</span>
                </div>

                <div class="contact-form">
                    <input type="submit" name="submit">
                </div>
            </div>
        </div>


        <div class="media">
            <li><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></li>
            <li><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></li>
        </div>
        <div class="empty">

        </div>>--->