<br><br><br><br><br><br><br><br>




<div class="container" >
    <div class="row justify-container-center mt-5">
        <div class="col-md-6">
            <div class="card mt-5 p-3 shadow">

                <!--<h3>Hello this is Poojani</h3><br>
                <h3>Hello this is Poojani</h3><br>-->
               <h3>Hello :{{data.displayName}}</h3>
                <p>Email:{{data.email}}</p>
                <button class="btn btn-danger" (click)="logout()" routerLink="/login">Logout</button>
            </div>
        </div>
    </div>
</div>


<br><br><br><br><br><br><br><br>

