<br><br>

<div class="container mt-5" >
    <div class="join-container">
        <div class="col md 6">
            <div class="card shadow-lg p-5 mt-5 mb-5" >
                <h2>Welcome To Fit AdVentures!🥰</h2><hr>
                <div [ngClass]="className" role="alert">
                   {{message}} <a routerLink="/login" class="text-primary" style="cursor: pointer;">Login Here</a>
                  </div>
                
                <form [formGroup]="signupForm" class="text-left">
                    <div class="form-group">
                        <label><h5>Display Name</h5></label>
                        <input type="text" class="form-control" placeholder="Username" 
                        formControlName="displayName">

                        <label><h5>Email</h5></label>
                        <input type="email" class="form-control" placeholder="Email Id here"
                        formControlName="email">


                        <label><h5>Password</h5></label>
                        <input type="password" class="form-control" placeholder="*********"
                        formControlName="password">


                        
                    </div><br>
                    <div class="text-center mt-2">
                
                    <button class="btn" (click)="signup()">Create Account</button>
                
                <div class="already" style="color: black;" >
                 Already have an account ? <a href="" routerLink="/login">Login Here</a>
                  </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    
</div>

















<!---<div class= "wrap">
    <h2>Register</h2>
    <form action="../php/insert.php" method="POST">
        <input type="text" placeholder="First Name.." required name="firstname">
        <input type="text" placeholder="Last Name.." required name="lastname">
        <input type="text" placeholder="Email.." required name="email">
        <input type="text" placeholder="Username.." required name="username">
        <input type="password" placeholder="Password.." required name="pwd">
        <input type="password" placeholder="Confirm password.." required name="pwdconn">
        <input type="text" placeholder="Country.." required name="country">
        
        <input type="submit" value="Submit" onclick="checkform()">
    </form>
</div>-->
